.cursorignore
.cursor/
.manual/
.example/
.vscode/
packages/
node_modules/
registry.json
dist/
build/
.env
bun.lock
bun.lockb
package-lock.json
*.log

## testing
html/
coverage/
test-results/
playwright-report/
playwright/.cache/

## build
vite.config.d.ts
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo
bash.exe.stackdump

## turbo
.turbo/
turbo.json
turbo.lock
turbo.log
turbo.log.*